@font-face {
  font-family: briberra;
  src: url(./assets/font/Briberra.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
  font-family: briberra;
  color: #d50000;
}

h1 {
  margin: 0;
  font-size: 120px;
}

.todo-app {  
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: red;
  background-size: 100% 1.2em;
  background: url(./assets/images/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 40px;
}

.collection {
  border: none !important;
}

.collection-item {
  border-bottom: none !important;
  opacity: 0.5;
  margin: 20px;
  backdrop-filter: blur(200px); 
  background-color:transparent;
  background-size: 100% 1.2em;
}

.collection-item span:hover {
  cursor: pointer;
  text-decoration: line-through;
}

form {
  margin: 20px 10px;
}

label {
  color: #00838f;
  font-size: 40px;
}

::placeholder {
  color: #00838f;
  font-size: 40px;
  opacity: 0.7;
}

input {
  font-family: briberra;
  color: #d50000;
  font-size: 40px !important;
}

.input-field {
  margin-top: 10;
}

.input-field input:focus {
  border-bottom: 1px solid #d50000 !important;
  box-shadow: 0 1px 0 0 #d50000 !important
}

button {
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 90%;
  left: 40%;
  background: url(./assets/images/button.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20%;
  border: none;
  width: 120px;
  height: 120px;
}

button:hover {
  background-color:whitesmoke;
  border: 5px solid whitesmoke;
  cursor: pointer;
  outline: 0;
}
